body {
  background-color: #000;
  color: #fff;
  font-family: arial;
  overflow: hidden;
}

#main-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#main-stats {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
  opacity: 0.5;
}
